body {
    background-image: linear-gradient(to right, #000000, #4f3b3b, #6e3f3f);
}
.title-container{
    text-align: center;
}
.title {
    color: aquamarine;
}

.subtitle {
    color: orange;
}
.picture {
    text-align: center;
}
.picture img {
    height: 170px;
    width: 250px;
}

.text {
    color: rgb(151, 187, 33);
    text-align: justify;
    margin-left: 50px;
    margin-right: 50px;
}



.youtube {
    position: absolute;
    top: 1.5%;
    left: 0.586%;
    background: transparent;
    border: none;
    transition: transform 0.3s ease;
}

.youtube:hover {
    transform: scale(1.1);
}

.youtube img {
    height: 90px;
    width: 100px;
    cursor: pointer;
}

.login {
    position: absolute;
    top: 1.5%;
    left: 90%;
    background: transparent;
    border: none;
    transition: transform 0.3 ease;
}

.login:hover {
    transform: scale(1.1);
}

.login img {
    height: 90px;
    width: 100px;
    cursor: pointer;
}