body {
    background-image: linear-gradient(to left, #000000, #4f3b3b, #6e3f3f);
}

.center {
    text-align: center;
}

.register {
    color: rgb(30, 131, 72);
}

.line {
    border: none;
    background-color: #139c1f;
    height: 1.7px;
    width: 750px;
    margin-bottom: 25px;
}

.form {
    color: #ff9696;
    position: relative;
    right: 4px;  
}

.labelinput {
    margin-bottom: 8px;
    margin-top: 1px
}

.back {
    position: absolute;
    top: 2%;
    left: 0.5%;
    background: transparent;
    border: none;
    transition: transform 0.3s ease;
}

.back::after {
    content: "";
    position: absolute;
    right: -2px; 
    top: -5.50px;   
    width: 70px;
    height: 70px;
    border: 2px solid black;
    background: transparent;
    cursor: pointer;
}

.back:hover {
    transform: scale(1.1);
}

.back img {
    height: 60px;
    width: 60px;
}

.submit {
    background: #125c24;
    display: block;
    margin-left: auto;
    margin-right: 12px;
    width: 60px;
    height: 20px;
    transition: transform 0.3s ease;
    border: none;
    cursor: pointer
}

.submit:hover {
    transform: scale(1.1);
}